$border-radius: 4px;
$checkbox-border-radius: 3px;
$font-size: 16px;
$box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.15);
$blue-100: #c6e9fa;
$blue-600: #009ee3;
$disabled-color: #cccccc;
$primary-text-color: #333333;
$secondary-text-color: #91a1b4;
$red-600: #ff2b2b;
$link-color: #0066cc;
